node_modules

/.cache
/build
/dist
/public/build
/.mf
.env
public
app/styles
app/entry.client.jsx
app/entry.server.jsx
.eslintignore
.eslintrc.js
tailwind.config.js
server.js
README.md
remix.config.js
remix.config.js
postcss.config.js
package.json
package-lock.json
jsconfig.json
.npmrc
.graphqlrc.yml
